*{
    margin: 0px;
    padding: 0px;
/* outline:1px solid red; */
    font-family:Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
   box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: rgba(255, 255, 255, 0.59);
}
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
form {
padding: 20px;
width: 100%;
color: inherit;

}
form input:focus{
    outline:none;
   
}
::placeholder {
    color: rgba(6, 17, 31, 0.693);

  }

input[type=text], input[type=password] ,input[type=email] , input[type=date] {
width: 100%;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border:none;
    background: rgba(255, 255, 255, 0.446);
color:rgb(6, 6, 49);
  }
  #loginmain{
      text-align: center;
color: white;


}
.main__container{
   padding-top: 20px;
  height: 100vh;

  background-image: linear-gradient(to right bottom, #38e5ff, #00c2ff, #009aff, #006aff, #5419da);        

}
  .logo img{
      height: 200px;
      width: auto;
      border-radius: 50%;
  }
    .welcome{
        color:rgb(255, 255, 255);
        font-size: 3em;
        object-fit: cover;
        margin-bottom: -20px;
        margin-top: 20px;
    }      
  .container__login{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
  .loginform {
 height: 400px;
 width: 400px;
 display: flex;
 justify-content: center;
 align-items: center;
 border:none;
 border-radius: 20px;
margin-bottom: 40px;
background: rgba(255, 255, 255, 0.234);
/* box-shadow: 0 8px 32px 0 rgba(29, 15, 39, 0.302); */
  }

  .loginbutton{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px 0px;
height: 40px;
width: 100%;
margin-top: 20px;
  }
  .forgotpw{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;

  }
  button{
      padding: 10px 25%;
      border:none;
      border-radius: 5px;
      transition: ease .5s;
      background: rgba(255, 255, 255, 0.241);
      color: inherit;
  }
  button:hover{
    background: rgba(0, 0, 0, 0.22);
    color:white;
 transition: ease .5s;
    }


    footer{
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.796);
        padding:10px 0px;
    }

    @media only screen and (max-width: 680px) {
        .left{
            display: none;
        }
        .middle{
    display: flex;
        }
        .loginform {
       
            background-color: rgba(255, 255, 255, 0);
        }
        .welcome{
           display:none;
        }

              } 
              @media only screen and (min-width: 1024px) {
                html{
                    font-size: 2em;
                }
                .loginform{
                    height: 700px;
                    width: 100%;
                    
                }
                input[type=text], input[type=password] ,input[type=email] , input[type=date] {
                    padding: 15px 20px;
                    font-size: 1.2em;
                }
                .loginbutton{
                    font-size: 1.2em;
                    height: 60px;
                }
                button{
                    font-size: 1em;
                }
              }


