


.containerhome{

display: flex;
justify-content: center;
align-items: center;   
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  
}


.content{
   background-repeat: no-repeat;
    min-height: 100%;
   /* max-width: 100vw; */
    text-align: center;
    width: 100vw;
   display: flex;
   justify-content: space-between;
}

nav{
z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
height: 65px;
background-color: rgba(255, 255, 255, 0.679);
display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.111), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
 -webkit-backdrop-filter: blur(20px);
 backdrop-filter: blur(5px);
}

.left img{
   height: 60px;
   width: 60px;
   border:none;
   border-radius: 50%;
   object-fit: cover;
   margin:  10px;
}

.middle{
    font-size: 2em;
    color: #fff;
    text-shadow: #41dfff;
  
}
.middle i{
        margin: 0px 20px;

}
.right{
    font-size: 2em;
    color: #fff;
    text-shadow: #41dfff;
    margin-right: 20px;
}
header{
    max-width: 680px;
    top:65px;
    height: 130px;
    width: 90%;
    border-radius: 15px;
    margin: 100px auto 20px auto;
    background-color: rgba(255, 255, 255, 0.452);
justify-content: space-between;
align-items: center;
display: flex;
}
header img{
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    border:none;
    border-radius: 50%;
    object-fit: cover;
    margin:  20px;
}


header input[type=text]{
height: 40px;
border-radius: 25px;
width: 100%;
margin: 0px 20px  0px  0px ;
border: none;
color: black;
padding: 0px 20px;
}
input:focus{
    outline:none;

}


main{
    max-height: 700px;
    max-width: 680px;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 15px;
     margin: 20px auto;
    
     display: block;
     width: 90%;
}

.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
display: block;
height: 50px;
}
.main__header__left img{
height: 40px;
width: 40px;
border-radius: 50%;
object-fit: cover;

}
.main__header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 70px;
}
.main__header__left_left{
    display: flex;
}

.left__words{
    color: black;
}
.words{
    color: #65676b;
}
.user i{
    font-weight: bold;
    color:rgb(16, 102, 182);

}
.fa-ellipsis-h{
  font-size: 1em;
  color: #65676b;
  padding:18px;
  transition: ease .5s;

    border-radius: 50%;

}


.fa-ellipsis-h:hover{
  
    background-color: rgba(148, 148, 148, 0.172);
    transition: ease .5s;

}

.main__descr{
    font-size: 1.25em;
    margin-bottom: 10px;
}
.main__piclink{
    width: 100%;
    height: auto;
    background-color: #65676b6b;
}
.main__piclink img{
    max-height: 400px;
height:auto;
width: 100%;
display: block;
position: relative;
z-index: 0;
}
.main__piclink p{
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
}


.main__react{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main__react__left i{

color: rgb(229, 255, 0);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(65, 78, 255);
}
hr{
    margin-top: 10px;
    border: 1px solid #65676b3d;
}

.main__likecommshar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}
.likecommshar:hover{
    background-color:#65676b3d;
    transition: ease .2s;
}
.likecommshar {
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    transition: ease .5s;
}
.likecommshar i{
    font-size: 1.5em;
    color: #65676b;
  
}
.likecommshar p{
    margin-left: 10px;
  font-weight: bold;
  color: #65676b;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.left__nav{
    display:none;
    margin-top: 20px;
    top: 65px;
    height: 100%;
 margin-right: 20px;
    /* display: flex; */
    justify-content: start;
    position: absolute;
}
.left__nav ul{
    list-style: none;

}

.left__nav li{
    display:block;
    padding: 10px 45px 10px 0px;
    margin:20px;
border-radius: 4px;
   font-weight: bold;
   font-size: 1.2em;
   text-align: left;
}
.left__nav li:hover{
    background-color: #65676b2f ;
}


    *{
        margin: 0px;
        padding: 0px;
        font-family: calibri;
        /* outline:1px solid red; */
    }
    @media only screen and (min-width: 1120px) {
        .left__nav{
            display:flex
        }
      }